.woocommerce span.onsale{
	background-color: #d63025;
	color: #fff;
}
.woocommerce .star-rating{
	color: #ffc823;
}
.woocommerce ul.products li.product .button{
	margin-right: 5px;
}
.woocommerce .quantity .qty{
	height: 38px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,

.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	background-color: #FFC934;
	color: #fff;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
	background-color: #FFC934;
	color: #fff;
}
.woocommerce div.product .woocommerce-tabs .panel{
	padding: 10px;
	background: transparent;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text{
	width: 55%;
	height: 38px;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
	padding: 5px;
}
.woocommerce-form__label-for-checkbox.checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit{
	border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border-radius: 0;
	border: none;
	border-bottom: 1px solid ;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: #FFC934;
	color: #fff;
}

/* ------- new additional css ----- */
.woocommerce,
.woocommerce *{
	white-space: normal;
}
.entry-content ul:not([class*="wp-"]):not(.awpa-contact-info).woocommerce-error, 
.entry-content ul:not([class*="wp-"]):not(.awpa-contact-info).woocommerce-info, 
.entry-content ul:not([class*="wp-"]):not(.awpa-contact-info).woocommerce-message{
	padding-left: 3.5em;
}
.woocommerce span.onsale {
	padding: 0 .5em;
	line-height: 3.236em;
}
body .entry-content .woocommerce ul.woocommerce-error {
    margin-left: 0;
}
.woocommerce-account .addresses .title .edit,
.woocommerce a.added_to_cart {
	display: inline-block;
	padding: .618em 1em;
	line-height: 1;
	font-weight: 700;
	margin-top: 1em;
}


body.woocommerce a.added_to_cart:hover,
.woocommerce a.added_to_cart {
	color: #fff;
	/* background-color: #515151; */
	background-color: #000;
}
.woocommerce-account .addresses .title .edit{
	background-color: rgba(0, 0, 0, 0.1);
}
.woocommerce-account .addresses .title .edit:hover{
	border: none;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce a.added_to_cart:hover {
	/* background-color: #dfdcde;
	color: #515151; */
}
body[class*="woocommerce"] .site-main .edit-link {
    padding-top: 10px;
    display: inline-block;
}
input#wp-comment-cookies-consent {
	margin-top: 5px;
}
.entry-content > [class*="wp-block-"] .woocommerce a:not(.has-text-color).button{
	color: #fff;
}
body.aft-dark-mode .entry-content > [class*="wp-block-"] .woocommerce a:not(.has-text-color).button:hover,
.entry-content > [class*="wp-block-"] .woocommerce a:not(.has-text-color).button:hover{
	color: #4a4a4a;
	border: none;
}
.woocommerce input[type="checkbox"], 
.woocommerce input[type="radio"] {
	vertical-align: middle;
	margin: 0;
}
.woocommerce input[type="checkbox"] + *,
.woocommerce input[type="radio"] + *{
	vertical-align: middle;
}
.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon{
	display: flex;
	min-width: 50%;
}
.woocommerce .woocommerce-ordering select {
	padding: 5px;
}
/* checkout page design refinement */
.entry-content .woocommerce-MyAccount-navigation ul:not([class*="wp-"]):not(.awpa-contact-info) {
	margin: 0;
}
.woocommerce-MyAccount-navigation {
	background-color: #dfdcde;
}
body.aft-dark-mode .woocommerce-MyAccount-navigation {
	background-color: #171717;
}
.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info{
	margin-top: 20px;
}

.woocommerce-account form.woocommerce-EditAccountForm.edit-account fieldset {
	padding: 0;
	border: none;
	margin-top: 30px;
}
.woocommerce-account form.woocommerce-EditAccountForm.edit-account fieldset p:last-child {margin-bottom: 0;}
.woocommerce-account .entry-content .woocommerce-MyAccount-navigation ul li {
	list-style: none;
}
.woocommerce-account .entry-content .woocommerce-MyAccount-navigation ul li a {
	display: block;
	padding: 10px 20px;
}
.woocommerce-account .entry-content .woocommerce-MyAccount-navigation ul li a:hover {
	border: none;
}
.woocommerce-account .entry-content .woocommerce-MyAccount-navigation ul li.is-active {background-color: rgba(0,0,0,.1);}
.aft-dark-mode.woocommerce-account .entry-content .woocommerce-MyAccount-navigation ul li.is-active {background-color: rgba(255,255,255,.1);}


body.woocommerce-js form.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table td {
	padding: 20px;
}
.woocommerce .checkout .col2-set .col-2,
.woocommerce-page .checkout .col2-set .col-2 {
	width: 49%;
}
.woocommerce .checkout .col2-set .col-1,
.woocommerce-page .checkout .col2-set .col-1 {
	width: 49%;
}
.woocommerce-checkout.woocommerce table.shop_table {
	border: 1px solid ;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
#add_payment_method .cart-collaterals .cart_totals table, 
.woocommerce-cart .cart-collaterals .cart_totals table, 
.woocommerce-checkout .cart-collaterals .cart_totals table,
.woocommerce table.shop_table {
	border-collapse: collapse;
}
#add_payment_method .cart-collaterals .cart_totals tr td, 
#add_payment_method .cart-collaterals .cart_totals tr th, 
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr th, 
.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
.woocommerce-checkout .cart-collaterals .cart_totals tr th{
	border-top-color: unset;
}
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: unset;
}
.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
	border-radius: 0;
}
.woocommerce .woocommerce-address-fields p:last-child,
.woocommerce .woocommerce-MyAccount-content form > p:last-child{
    padding: 5px;
}
.woocommerce .products ul, .woocommerce ul.products {
	margin-bottom: 0;
}
body.aft-dark-mode .woocommerce-ordering select option {
    background-color: #1f1f1f;
}
.woocommerce ul.products li.product .button {
    margin-top: 5px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin-bottom: 3.8%;
}
.woocommerce-shop .woocommerce-info{
	margin-bottom: 0;
}
body.woocommerce-shop .site-main {
	padding-bottom: 20px;
}
.woocommerce form .woocommerce-input-wrapper label.checkbox  {
	padding-left: 20px;
}
.woocommerce form .form-row .woocommerce-input-wrapper .input-checkbox#mailpoet_woocommerce_checkout_optin {
	margin-left: -20px;
}
/* ------- newly additional css ----- */

/*darrk mode====*/
body.aft-dark-mode legend,
body.aft-dark-mode .woocommerce-ordering select,
body.aft-dark-mode .select2-container--default .select2-selection--single .select2-selection__rendered,
body.aft-dark-mode .woocommerce-error, 
body.aft-dark-mode .woocommerce-info, 
body.aft-dark-mode .woocommerce-message,
body.aft-dark-mode .woocommerce-Tabs-panel,
body.aft-dark-mode .woocommerce-info a,
body.aft-dark-mode .woocommerce-Tabs-panel h2,
body.aft-dark-mode.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	color: #fff;
}
body.aft-dark-mode.woocommerce-account .addresses .title .edit,
body.aft-dark-mode .woocommerce-ordering select,
body.aft-dark-mode .select2-container--default .select2-selection--single{
	background-color: rgba(255, 255, 255, 0.1);
}
body.aft-dark-mode.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
body.aft-dark-mode.woocommerce div.product .woocommerce-tabs ul.tabs::before,
body.aft-dark-mode #add_payment_method .cart-collaterals .cart_totals tr td, 
body.aft-dark-mode #add_payment_method .cart-collaterals .cart_totals tr th, 
body.aft-dark-mode.woocommerce-cart .cart-collaterals .cart_totals tr td, 
body.aft-dark-mode.woocommerce-cart .cart-collaterals .cart_totals tr th, 
body.aft-dark-mode .woocommerce-checkout .cart-collaterals .cart_totals tr td, 
body.aft-dark-mode .woocommerce-checkout .cart-collaterals .cart_totals tr th,
body.aft-dark-mode .woocommerce table.shop_table td,
body.aft-dark-mode .woocommerce table.shop_table th,
body.aft-dark-mode .woocommerce table.shop_table{
	border-color: rgba(255, 255, 255, 0.1);
}
body.aft-dark-mode .woocommerce-error, 
body.aft-dark-mode .woocommerce-info, 
body.aft-dark-mode .woocommerce-message,
body.aft-dark-mode #add_payment_method #payment, 
body.aft-dark-mode.woocommerce-cart #payment, 
body.aft-dark-mode.woocommerce-checkout #payment{
	background: #212121;
}
/*darrk mode====*/

/* overwrite plugin css */
#add_payment_method .wc-proceed-to-checkout:last-child a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout:last-child a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout:last-child a.checkout-button{
	margin-bottom: 0;
}
#add_payment_method .wc-proceed-to-checkout:last-child, 
.woocommerce-cart .wc-proceed-to-checkout:last-child, 
.woocommerce-checkout .wc-proceed-to-checkout:last-child{
	padding-bottom: 0;
}
.woocommerce-cart .entry-content {
	margin-bottom: 0;
}

/* css refinements here */
.woocommerce h2,
.cart-collaterals h3,
.woocommerce-tabs.wc-tabs-wrapper h2 {
	margin-top: 0;
}
body.aft-section-layout-background[class*="aft-banner-layout-tiled"] #content.container-wrapper,
body.woocommerce-page.aft-section-layout-background #content.container-wrapper {
	margin-bottom: 20px;
}
body.woocommerce-page.aft-section-layout-background form.login,
body.woocommerce-page.aft-section-layout-background .entry-content {
	margin-bottom: 0;
}
/* boxed background css here */
.aft-light-mode.aft-section-layout-background.single-product header.entry-header,

.aft-light-mode.aft-section-layout-background.woocommerce-page main.site-main {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
	padding: 20px;
}
.aft-section-layout-background.single-product header.entry-header,
.aft-section-layout-background.single-product header.entry-header {
	margin-top: 20px;
	margin-bottom: 20px;
}
.aft-dark-mode.aft-section-layout-background.single-product header.entry-header,
.aft-dark-mode.aft-section-layout-background.woocommerce-page main.site-main {
	background-color: #111;
	padding: 20px;
}